# pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [1]:
import pandas as pd

# 1.Series
1차원 데이터(정수, 실수, 문자열등)  
R의 vector와 비슷한 개념

## series객체 생성
예) 1월부터 4월까지의 평균 온도 데이터(-20, -10, 10, 20)

In [2]:
temp=pd.Series([-20,-10,10,20])   #대문자S, 0번째부터 n번째 까지 매치
print(temp)   #print없어도 됨

0   -20
1   -10
2    10
3    20
dtype: int64

In [3]:
temp.values

array([-20, -10,  10,  20], dtype=int64)

In [4]:
temp[0] #인덱싱 가능->1월 온도

-20

In [5]:
temp[2]

10

In [6]:
temp[[0,1,2]] #순서상관없이 여러개 뽑는법

0   -20
1   -10
2    10
dtype: int64

# series 객체 생성(index 지정)

In [7]:
temp=pd.Series([-20,-10,10,20],index=['jan','feb','mar','apr']) #인덱스 지정->0~3이 아닌 계절로
temp

jan   -20
feb   -10
mar    10
apr    20
dtype: int64

In [8]:
temp['jan']   #''안에 지정한 이름으로 뽑기가능

-20

In [9]:
temp['june']  #지정안해준 애는 에러남

KeyError: 'june'

In [11]:
print(temp.loc['feb'])
print(temp.iloc[-1])  #loc, iloc둘다 가능

-10
20

## Series 값 추가하기

In [12]:
temp.loc['may']=30
temp

jan   -20
feb   -10
mar    10
apr    20
may    30
dtype: int64

## Series 삭제하기
drop(index값)

In [16]:
temp.drop('may')

jan   -20
feb   -10
mar    10
apr    20
dtype: int64

In [17]:
temp.drop(['may','apr']) #여러개 삭제

jan   -20
feb   -10
mar    10
dtype: int64

In [18]:
temp #보여주기만 할 뿐 적용된것은X-> inplace=True로

jan   -20
feb   -10
mar    10
apr    20
may    30
dtype: int64

## Series 수정

In [19]:
temp.loc['may']=40 #iloc도 가능
temp

jan   -20
feb   -10
mar    10
apr    20
may    40
dtype: int64

# Series연산
broadcasting=연산이 시리즈 객체에 전체 적용

In [23]:
print(temp+100,temp-100,temp*10,temp/100) #모든 요소에 사칙연산

jan     80
feb     90
mar    110
apr    120
may    140
dtype: int64 jan   -120
feb   -110
mar    -90
apr    -80
may    -60
dtype: int64 jan   -200
feb   -100
mar    100
apr    200
may    400
dtype: int64 jan   -0.2
feb   -0.1
mar    0.1
apr    0.2
may    0.4
dtype: float64

## 인덱스가 다른 시리즈 간의 사칙연산

In [25]:
high=pd.Series([51500,51200,52500],index=['a','b','c'])
low=pd.Series([50700,50500,50500],index=['a','b','d'])
high-low  #같은 인덱스꺼만 계산, 인덱스 없으면 같은 위치에 있는것 계산

a    800.0
b    700.0
c      NaN
d      NaN
dtype: float64

## Series비교 연산

In [26]:
s=pd.Series([100,200,300,400,500])
s>300

0    False
1    False
2    False
3     True
4     True
dtype: bool

## Series 필터링

In [27]:
s[s>300]

3    400
4    500
dtype: int64