# 2. Dataframe
2차원 데이터(series들의 모음)  
dict에서 key는 컬럼이름으로, values들은 그 컬럼의 데이터로  
리스트 자료의 경우 각 리스트가 행으로 저장된 후 따로 컬럼이름 설정

## Data 준비
사전(dict)자료구조를 통해 생성  
예)슬램덩크 주요 인물 8명에 대한 데이터

In [1]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data

{'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
 '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
 '키': [197, 184, 168, 187, 188, 202, 188, 190],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [2]:
print(type(data))  #딕셔너리 구조
data['이름']  #data[key]로 value꺼내올 수 있음

<class 'dict'>

['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협']

In [3]:
data['키']

[197, 184, 168, 187, 188, 202, 188, 190]

## Dataframe 객체 생성

In [4]:
import pandas as pd
df=pd.DataFrame(data)  #데이터 프레임화 함수

In [5]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

## 데이터 접근
df['']는 컬럼(열)만 가능!!  
df[slicing]은 행만 가져옴

In [6]:
df['이름']  #column값 적어줌

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [18]:
df['이름'].values  #이것도 가능

array(['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
      dtype=object)

In [7]:
df[1:2] #1~에서2-1=1번(실제로는 2번)만 가져옴

    이름   학교    키  국어  영어  수학  과학  사회  SW특기
1  정대만  북산고  184  40  35  50  55  25  Java

In [8]:
df[['이름','키']]  #여러개 가져오고 싶으면 리스트안에 리스트 후 column이름

    이름    키
0  채치수  197
1  정대만  184
2  송태섭  168
3  서태웅  187
4  강백호  188
5  변덕규  202
6  황태산  188
7  윤대협  190

## DataFrame 객체 생성(index 지정)
row 이름 지정

In [15]:
df=pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번']) #열의 개수가 맞아야 에러 안남
df  #0~7대신 1번~8번

     이름   학교    키   국어   영어   수학  과학  사회        SW특기
1번  채치수  북산고  197   90   85  100  95  85      Python
2번  정대만  북산고  184   40   35   50  55  25        Java
3번  송태섭  북산고  168   80   75   70  80  75  Javascript
4번  서태웅  북산고  187   40   60   70  75  80
5번  강백호  북산고  188   15   20   10  35  10
6번  변덕규  능남고  202   80  100   95  85  80           C
7번  황태산  능남고  188   55   65   45  40  35      PYTHON
8번  윤대협  능남고  190  100   85   90  95  95          C#

## DataFrame 객체 생성(column 지정)
data중에서 원하는 컬럼만 선택하거나, 순서변경 가능

In [10]:
df=pd.DataFrame(data,columns=['이름','학교','키']) #이 순서대로 나옴
df

    이름   학교    키
0  채치수  북산고  197
1  정대만  북산고  184
2  송태섭  북산고  168
3  서태웅  북산고  187
4  강백호  북산고  188
5  변덕규  능남고  202
6  황태산  능남고  188
7  윤대협  능남고  190

## 인덱스, 컬럼 둘다 지정 가능

In [11]:
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'],
               columns=['이름','키','학교'])
df

     이름    키   학교
1번  채치수  197  북산고
2번  정대만  184  북산고
3번  송태섭  168  북산고
4번  서태웅  187  북산고
5번  강백호  188  북산고
6번  변덕규  202  능남고
7번  황태산  188  능남고
8번  윤대협  190  능남고

## 리스트로 데이터프레임 만드는 것도 가능
두가지 방법

In [12]:
이름 = ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협']
학교 = ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고']
키= [197, 184, 168, 187, 188, 202, 188, 190]

In [13]:
newdf=pd.DataFrame([이름,학교,키]).T  # .T로 transpose하여 행->열로 바꿈
newdf.columns=['이름','학교','키']   # 열 이름 지정
newdf

    이름   학교    키
0  채치수  북산고  197
1  정대만  북산고  184
2  송태섭  북산고  168
3  서태웅  북산고  187
4  강백호  북산고  188
5  변덕규  능남고  202
6  황태산  능남고  188
7  윤대협  능남고  190

In [14]:
ndf=pd.DataFrame([이름,학교,키],columns=['이름','학교','키']).T #이렇게는 불가-> .T하기전은 8열이 나오는데 column은 3개만 지정해서
ndf

ValueError: 3 columns passed, passed data had 8 columns

***
***
***

In [ ]:
data = [
    ['채치수', '북산고', 197],
    ['정대만', '북산고', 184],
    ['송태섭', '북산고', 168],
    ['서태웅', '북산고', 187],
    ['강백호', '북산고', 188],
    ['변덕규', '능남고', 202],
    ['황태산', '능남고', 188],
    ['윤대협', '능남고', 190]
]
df = pd.DataFrame(data, columns=['이름', '학교', '키'])
df